<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cnooc.core.dao.UserDAO">
	<resultMap id="BaseResultMap" type="com.cnooc.core.model.User">
		<result column="uid" property="uid" />
		<result column="name" property="name" />
		<result column="password" property="password" />
	</resultMap>

	<sql id="Base_Column_List">
		uid, name, password
	</sql>
	<select id="queryUserByUid" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where uid = #{uid}
	</select>

	<!-- 对于非简单数据类型，需要附上对应的类型 -->
	<!-- <select id="findUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer"> 
		select <include refid="Base_Column_List" /> from user where id = #{id,jdbcType=INTEGER} 
		</select> -->
	<!-- 当在if元素中test传递的参数时,就必须要用_parameter来引用这个参数,使用id会报错 -->
	<!-- <select id="findUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer"> 
		select <include refid="Base_Column_List" /> from user <if test="_parameter 
		!= 0"> where id = #{id,jdbcType=INTEGER} </select> -->
	<!-- 对于数据库表的主键不是自增的类型 -->
	<!-- <insert id="insertUser" parameterType="User"> <![CDATA[ insert into 
		user (user_name, password, age) values (#{userName}, #{password}, #{age}) 
		]]> <selectKey resultType="int" keyProperty="id"> SELECT @@IDENTITY AS id 
		</selectKey> </insert> -->
	<insert id="insertUser" parameterType="User" useGeneratedKeys="true"
		keyProperty="uid">
		insert into user (
			name,
			password,
			age)
		values (
			#{name},
			#{password})
	</insert>
	<update id="updateUserInfo" parameterType="User">
		update user
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="password != null">
				password = #{password},
			</if>
		</set>
		where uid = #{uid}
	</update>
	<select id="queryAllUsers" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
	</select>
</mapper>